/* body {
    width: 100%;
} */

body {
    background: url('/static/images/markus-spiske-kK7uPfb2YWU-unsplash-2-whiten.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    width: 100%;
    color: #293132;
    margin: var(--top-spacing) auto;
}

.flashes h4 {
    line-height: 2;
}

.brand-logo {
    margin-left: 10px;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

/* text shadow for nav elements */
nav div ul li a {
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 1);
}

/* override standard Materialize styling for nav dropdown */
.dropdown-content li a {
    color: rgba(50, 50, 50, 1);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.heading-text-shadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

div .row {
    width: 100%;
    margin: 0;
}

div .container {
    width: 100%;
    margin: 0;
}

.text-small {
    font-size: 12px;
}
/* Pass, Fail, N/C, N/A Colorings for survey questions */
/* Overrides Materialize's CSS classes. */

span.span-pass,
span.span-fail,
span.span-nc,
span.span-na {
    color: #555;
}
 
[type="radio"]:checked+span.span-fail:after, [type="radio"].with-gap:checked+span.span-fail:after {
    background-color: red;
    border: 2px solid red;
}

[type="radio"]:checked+span.span-nc:after, [type="radio"].with-gap:checked+span.span-nc:after {
    background-color: orange;
    border: 2px solid orange;
}

[type="radio"]:checked+span.span-na:after, [type="radio"].with-gap:checked+span.span-na:after {
    background-color: #555;
    border: 2px solid #555;
}

/* Text colors for survey results display */
.text-green {color: #26A69A;}
.text-red { color: red; }
.text-orange { color: orange; }
.text-grey { color: #555; }

/* Background for collapsible headers */
.bg-lightyellow {
    background-color: palegoldenrod;
    border-color: peru;
}


/* Materialize Margin Helper Classes */

.margin-auto {margin:               auto!important;}

.margin-top-0 { margin-top:         0!important;}
.margin-bottom-0 { margin-bottom:   0!important;}
.margin-right-0 { margin-right:     0!important;}
.margin-left-0 { margin-left:       0!important;}
.margin-0 {margin:                  0!important;}

.margin-top-10 { margin-top:        10px;}
.margin-bottom-10 { margin-bottom:  10px;}
.margin-right-10 { margin-right:    10px;}
.margin-left-10 { margin-left:      10px;}
.margin-10 {margin:                 10px;}

.margin-top-20 { margin-top:        20px;}
.margin-bottom-20 { margin-bottom:  20px;}
.margin-right-20 { margin-right:    20px;}
.margin-left-20 { margin-left:      20px;}
.margin-20 {margin:                 20px;}

.margin-top-30 { margin-top:        30px;}
.margin-bottom-30 { margin-bottom:  30px;}
.margin-right-30 { margin-right:    30px;}
.margin-left-30 { margin-left:      30px;}
.margin-30 {margin:                 30px;}

.margin-top-40 { margin-top:        40px;}
.margin-bottom-40 { margin-bottom:  40px;}
.margin-right-40 { margin-right:    40px;}
.margin-left-40 { margin-left:4     40px;}
.margin-40 {margin:                 40px;}

.margin-top-50 { margin-top:        50px;}
.margin-bottom-50 { margin-bottom:  50px;}
.margin-right-50 { margin-right:    50px;}
.margin-left-50 { margin-left:      50px;}
.margin-50 {margin:                 50px;}

/* Materialize Padding Helper Classes */

.padding-top-0 { padding-top:         0!important;}
.padding-bottom-0 { padding-bottom:   0!important;}
.padding-right-0 { padding-right:     0!important;}
.padding-left-0 { padding-left:       0!important;}
.padding-0 {padding:                  0!important;}

.padding-top-10 { padding-top:        10px;}
.padding-bottom-10 { padding-bottom:  10px;}
.padding-right-10 { padding-right:    10px;}
.padding-left-10 { padding-left:      10px;}
.padding-10 {padding:                 10px;}

.padding-top-20 { padding-top:        20px;}
.padding-bottom-20 { padding-bottom:  20px;}
.padding-right-20 { padding-right:    20px;}
.padding-left-20 { padding-left:      20px;}
.padding-20 {padding:                 20px;}

.padding-top-30 { padding-top:        30px;}
.padding-bottom-30 { padding-bottom:  30px;}
.padding-right-30 { padding-right:    30px;}
.padding-left-30 { padding-left:      30px;}
.padding-30 {padding:                 30px;}

.padding-top-40 { padding-top:        40px;}
.padding-bottom-40 { padding-bottom:  40px;}
.padding-right-40 { padding-right:    40px;}
.padding-left-40 { padding-left:4     40px;}
.padding-40 {padding:                 40px;}

.padding-top-50 { padding-top:        50px;}
.padding-bottom-50 { padding-bottom:  50px;}
.padding-right-50 { padding-right:    50px;}
.padding-left-50 { padding-left:      50px;}
.padding-50 {padding:                 50px;}