<!-- CODE ATTRIBUTION:
# The code for this website is based on the excellent Data Centric Design
# Mini Project Walk-through by Tim Nelson (https://github.com/TravelTimN)
# of Code Institute. Where custom functionality was required it was 
# generally based on modifying Tim's original logic to fulfill the
# project requirements. -->

{% extends "base.html" %}
{% block content %}

  <h2 class="center-align brown-text text-darken-3 heading-text-shadow"> User Profile </h2>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center-align brown-text text-darken-3">
        {{ user.username }}'s Profile
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center-align brown-text text-darken-3">
        <i class="fas fa-user prefix brown-text text-darken-3"></i>
        {{ user.first_name }} {{ user.last_name }}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center-align brown-text text-darken-3">
        <i class="fas fa-building prefix brown-text text-darken-3"></i>
        {{ user.company }}
      </h3>
    </div>
  </div>
    
{% endblock %}

  