{% extends "base.html" %}
{% block content %}

<h2 class="center-align brown-text text-darken-3 heading-text-shadow"> Reports List </h2>
<ul class="collapsible">
    {% for dog in rendered_survey_reports %}
    <li>
        <!-- Collapsible Header Elements -->
        <div class="collapsible-header row margin-bottom-0 bg-lightyellow">
            <div class="col s12">
                <div class="container">
                    <div class="row margin-0 padding-0">
                        <div class="col s4"><i class="fas fa-caret-down"></i><strong>{{ dog.roomRef }}</strong></div>
                        <div class="col s4"><strong>{{ dog.roomDesc }}</strong></div>
                        <div class="col s4">Survey Date: {{ dog.createdAtShort }}</div>
                    </div>
                </div>
            </div>               
        </div>
        <!-- Colapsible Body Elements -->
        <div class="collapsible-body padding-left-30 padding-right-30 padding-top-0 padding-bottom-30">
            <div class="container">
                <!-- Location Details -->
                <div class="section-header container padding-top-20">
                    <div class="row margin-0 padding-0">
                        <div class="col"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="col">Location:</div>
                    </div>
                <div class="divider container padding-bottom-10"></div>
                <div class="row container-row">
                    <div class="col s12 l6"><strong>Room Ref.:  </strong>{{ dog.roomRef }}</div>
                    <div class="col s12 l6"><strong>Room Desc.:  </strong>{{ dog.roomDesc }}</div>
                    <div class="col s12 l6"><strong>Room Type:  </strong>{{ dog.roomType }}</div>
                    <div class="col s12 l6"><strong>Room Volts:  </strong>{{ dog.roomVolts }}</div>
                </div>
                <!-- User Details -->
                <div class="section-header container padding-top-20">
                    <div class="row margin-0 padding-0">
                        <div class="col"><i class="fas fa-user"></i></div>
                        <div class="col">Survey By:</div>
                    </div>
                </div>
                <div class="divider padding-bottom-10"></div>
                <div class="row">
                    <div class="col s12 m4"><strong>Username:  </strong>{{ dog.createdBy }}</div>
                    <div class="col s12 m4"><strong>Full Name:  </strong>{{ dog.createdByFullname }}</div>
                    <div class="col s12 m4"><strong>Company:  </strong>{{ dog.createdByCompany }}</div>
                </div>
                <!-- Time Stamp -->
                <div class="section-header container padding-top-20">
                    <div class="row margin-0 padding-0">
                        <div class="col"><i class="fas fa-calendar-alt"></i></div>
                        <div class="col">Survey Completed On:</div>
                    </div>
                </div>
                <div class="divider padding-bottom-10"></div>
                <div class="row">
                    <div class="col s12"><strong>Reported Date:  </strong>{{ dog.createdAt }}</div>
                </div>
                <!-- Issue Comments -->
                <div class="section-header container padding-top-20">
                    <div class="row margin-0 padding-0">
                        <div class="col"><i class="fas fa-quote-right"></i></div>
                        <div class="col">Survey Comments:</div>
                    </div>
                </div>
                <div class="divider padding-bottom-10"></div>
                <div class="row">
                    <div class="col s12">{{ dog.surveyComment }}</div>
                </div>
                <!-- SurveyAnswer List -->
                <div class="section-header container padding-top-20">
                    <div class="row margin-0 padding-0">
                        <div class="col"><i class="fas fa-clipboard-list"></i></div>
                        <div class="col">Survey Answers:</div>
                    </div>
                </div>
                <div class="divider padding-bottom-10"></div>
                <div class="row">
                    <div class="col s12">
                        {% for answer in dog.answerList %}
                            <div class="margin-bottom-0 container">
                                <div class="row">
                                    <div class="col s2 margin-0"><p><strong>{{ answer.questionNumber }}</strong></p></div>
                                    <div class="col s8 margin-0"><p>{{ answer.questionShort }}  |  {{ answer.questionLong }}</p></div>
                                    <div class="col s2 right-align margin-0">
                                        {% if answer.answerValue == "Pass" %}
                                            <p class="margin-0 text-right">Pass-<i class="fas fa-circle text-green"></i></p>
                                        {% elif answer.answerValue == "Fail" %}
                                            <p class="margin-0 text-right">Fail-<i class="fas fa-circle text-red"></i></p>
                                        {% elif answer.answerValue == "NC" %}
                                            <p class="margin-0 text-right">Not Checked-<i class="fas fa-circle text-orange"></i></p>
                                        {% elif answer.answerValue == "NA" %}
                                            <p class="margin-0 text-right">N/A-<i class="fas fa-circle text-grey"></i></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End of Container Div -->
        </div>
        <!-- End of Callapsible Body -->
    </li>
    <!-- End of Repeated List Item -->
    {% endfor %}
</ul>

{% endblock content %}