{% extends "base.html" %}
{% block content %}

    <h2 class="center-align brown-text text-darken-3 heading-text-shadow"> Test Page  -testhigh </h2>
    <ul class="collapsible">

    <!--   CODE BLOCK---------------------------------------------------------------------------------------------------- -->
    <hr>

      <p>{{ now }}</p>
      <p>{{ date_time_string }}</p>


    <hr>
    <!--   CODE BLOCK---------------------------------------------------------------------------------------------------- -->

    <ul>
    {% for question in questions %}
        <li>{{question.questionShort}}</li>
    {% endfor %}
    </ul>



    <!--   CODE BLOCK---------------------------------------------------------------------------------------------------- -->


  <form>
    <p>Which room is it in?</p>


    <p>What is the issue?</p>


    <p>Is a fail?</p>

    <p>Comment</p>

    <button>Submit</button>
  </form>

  <!--   CODE BLOCK---------------------------------------------------------------------------------------------------- -->

  <h1>Questions</h1>
  <p>{{ questions }}</p>

  <h1>Rooms</h1>
  <p>{{ rooms }}</p>

  <h1>Voltages</h1>
  <p>{{ voltages }}</p>

  <h1>Types</h1>
  <p>{{ types }}</p>


{% endblock %}
